mixin comment(comment, username)
  div.comment-container
    p.comment-date Posted on: #{comment.date.getMonth()+1}/#{comment.date.getDate()}/#{comment.date.getFullYear()} at #{comment.date.getHours()}:#{comment.date.getMinutes()}
    p.comment-author Posted by: #{comment.user}
    p.comment-body #{comment.body}
